In [2]:
import pandas as pd

# creator

In [71]:
a = ['a','b','c','a','b','c']
b = [1,2,3,4,5,6]

In [72]:
for k,v in zip(a,b):
    print(k,v)

a 1
b 2
c 3
a 4
b 5
c 6

In [73]:
sheet=zip(a,b)
count=0
for k,v in sheet:
    print(k,v)
    count+=1
print(count)

a 1
b 2
c 3
a 4
b 5
c 6
6

# method:if not in, classi

In [74]:
dict={}
for k,v in zip(a,b):
    print(k,v)
    if k not in dict.keys():
        dict[k]=[v]
    else:
        dict[k].append(v)

print(dict.keys())
print(dict.items())

a 1
b 2
c 3
a 4
b 5
c 6
dict_keys(['a', 'b', 'c'])
dict_items([('a', [1, 4]), ('b', [2, 5]), ('c', [3, 6])])

In [68]:
len(dict.keys())

3

# zip method into df

In [36]:
zip_data = zip('a','b')

In [37]:
list(zip_data)

[('a', 'b')]

In [76]:
type(dict['a'])

list

In [81]:
print(list(dict.keys()))

['a', 'b', 'c']

In [86]:
df = pd.DataFrame()
for key in dict.keys():
    df[key]=dict[key]
df

   a  b  c
0  1  2  3
1  4  5  6