In [1]:
import pandas as pd

In [7]:
col_name = ['a','b','c']
list1 = [1,2,3]
list2 = [4,5,6]
list3 = [7,8,9]
list_group = [list1,list2,list3]

In [14]:
dict_group = {}
for name in col_name:
    dict_group[name]=[]
dict_group

{'a': [], 'b': [], 'c': []}

In [15]:
for list in list_group:
    print(list)
    for n in range(0,len(list)):
        dict_group[col_name[n]].append(list[n])
dict_group

[1, 2, 3]
[4, 5, 6]
[7, 8, 9]

{'a': [1, 4, 7], 'b': [2, 5, 8], 'c': [3, 6, 9]}

In [21]:
col_name = ['a','b','c']
def zip_list(list_group,col_name):
    # create col_name of df
    dict_group = {}
    for name in col_name:
        dict_group[name]=[]
    
    for list in list_group:
        for n in range(0,len(list)):
            dict_group[col_name[n]].append(list[n])
    return dict_group

In [19]:
dict_group = zip_list(list_group)

[1, 2, 3]
[4, 5, 6]
[7, 8, 9]

In [18]:
def dict2df(dict):
    df = pd.DataFrame()
    for key in dict.keys():
        df[key]=dict[key]
    return df

In [20]:
dict2df(dict_group)

   a  b  c
0  1  2  3
1  4  5  6
2  7  8  9